@import "variables.scss";
@import "mixins.scss";

.header-main {
  position: sticky;
}

.intro {
  background: linear-gradient(to right, #e9e9fe, #fafbd6);
}

.online-courses--fourth {
  background: linear-gradient(to right, #e9e9fe, #fafbd6);
}

.bootcamp__bootcamps div {
  background: linear-gradient(to right, #e9e9fe, #fafbd6);
}

// Grid Cards For Medium Screens
@media (min-width: 636px) and (max-width: 1100px) {
  .bootcamp__bootcamps {
    grid-template-columns: auto auto !important;
    column-gap: 10px !important;
  }
}

// Tablet Screens
@media (max-width: $breakpoint-tablet) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;

    & img {
      width: 100px;
      height: 100px;
    }

    &__hamburger {
      font-size: 22px;
      color: white;
      border: 1px solid $main-blue;
      background-color: $main-blue;
      border-radius: 0.2rem;
      padding: 0.5rem 0.5rem;
    }

    &__items {
      display: none;
    }
  }

  .intro {
    padding: 30px 1.5rem;

    &__text {
      &--main {
        font-size: 32px;
        font-family: $main-font;
        font-weight: 900;
      }
      &--secondary {
        margin-top: 30px;
        font-size: $secondary-font-size;
        font-family: $secondary-font;
      }

      &__button {
        margin-top: 30px;
        @include mobile-button();
      }
    }

    &__img img {
      width: 90vw;
    }
  }

  .grad {
    padding: 30px 1.5rem;

    &__text {
      font-size: $main-font-size;
      font-family: $main-font;
    }
    &__text--sec {
      margin-top: 20px;
      font-size: $secondary-font-size;
      font-family: $secondary-font;
    }
    &__numbers {
      text-align: center;
      margin-top: 30px;
      &--content {
        font-family: $main-font;
        font-size: $main-font-size;
        color: $main-blue;
        font-weight: 900;
      }

      & div {
        margin-top: 30px;

        span {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }

  .brands {
    padding: 30px 1.5rem;

    & div {
      display: grid;
      justify-content: space-around;
      grid-template-columns: auto auto auto;

      & img {
        width: 120px;
        height: 40px;
        margin: 20px 0;
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        &:hover {
          filter: none;
        }
      }
    }
  }

  .online-courses {
    padding: 30px 1.5rem;

    &--first {
      & h3 {
        font-family: $main-font;
        color: $main-yellow;
      }

      &__tech {
        text-align: center;
        font-family: $main-font;
        font-size: $main-font-size;
        margin-top: 20px;
      }

      &__text {
        font-family: $secondary-font;
        margin-top: 15px;
        line-height: 2.4ch;
      }

      &__quo {
        color: $main-blue;
        font-style: italic;
        font-size: 18px;
        font-family: $main-font;
        margin-top: 30px;
      }
      &__quop {
        font-family: $secondary-font;
        margin-top: 10px;
      }
    }

    &--second {
      margin-top: 20px;
      text-align: center;

      & button {
        @include mobile-button();
        margin-top: 10px;
      }

      &__free {
        color: $main-yellow;
        font-family: $main-font;
      }

      &__info {
        font-family: $secondary-font;
        margin-top: 10px;
      }
    }

    &--third {
      margin-top: 30px;
      & h5 {
        text-align: center;
        font-family: $main-font;
        font-size: 22px;
      }

      & div {
        margin-top: 20px;
        & p {
          border: 1px solid $main-yellow;
          margin: 15px 0;
          font-size: 16px;
          font-family: $main-font;
          padding: 10px 20px;

          &:hover {
            color: black;
            background-color: $main-yellow;
            cursor: pointer;
          }
        }
      }
    }

    &--fourth {
      font-family: $main-font;
      border: 3px solid black;
      padding: 20px 10px;
      text-align: center;

      &__lesson {
        text-align: start;
        padding: 2px 30px;
        font-size: 16px;
        margin: 15px 0;
      }

      & button {
        margin: 10px 0;
        @include mobile-button();
      }

      & h5 {
        font-size: 24px;
      }

      &__info {
        margin-top: 20px;
        border: 1px solid $main-yellow;
        padding: 20px 10px;
        & p {
          text-align: start;
          font-size: 15px;
          margin: 10px 0 0 10px;
        }
      }
    }
  }

  .bootcamp {
    padding: 30px 1.5rem;

    &--first {
      & h3 {
        font-family: $main-font;
        color: $main-yellow;
      }

      &__tech {
        text-align: center;
        font-family: $main-font;
        font-size: $main-font-size;
        margin-top: 20px;
      }

      &__text {
        font-family: $secondary-font;
        margin-top: 15px;
        line-height: 2.4ch;
      }

      &__quo {
        color: $main-blue;
        font-style: italic;
        font-size: 18px;
        font-family: $main-font;
        margin-top: 30px;
      }
      &__quop {
        font-family: $secondary-font;
        margin-top: 10px;
      }
    }

    &--second {
      margin-top: 20px;
      text-align: center;

      & button {
        @include mobile-button();
        margin-top: 10px;
      }

      &__free {
        color: $main-yellow;
        font-family: $main-font;
      }

      &__info {
        font-family: $secondary-font;
        margin-top: 10px;
      }
    }

    &__bootcamps {
      font-family: $secondary-font;
      margin-top: 20px;
      display: grid;
      grid-template-columns: auto;
      & div {
        border: 2px solid black;
        margin: 20px 0;
        padding: 10px 0;

        & img {
          width: 80%;
          height: 195px;
          display: block;
          margin: auto;
        }

        & h6 {
          margin-top: 10px;
          font-size: 15px;
          margin-left: 20px;
        }

        & p {
          margin-top: 10px;
          font-size: 14px;
          margin-left: 20px;
        }

        & button {
          margin: 10px 0;
          float: right;
          margin-right: 20px;
          @include mobile-button();
        }
      }
    }
  }

  .news {
    position: relative;
    margin-top: 20px;
    padding: 30px 1.5rem;
    font-size: 24px;
    font-family: $main-font;

    &__slider {
      margin-top: 80px;
      &__buttons {
        display: flex;
        position: absolute;
        right: 8%;
        top: 25%;
        font-size: 50px;
        & div {
          margin: 0 20px;
          cursor: pointer;
        }
      }
      &__slide {
        display: flex;
        overflow: hidden;
        & img {
          width: 367px;
          height: 184px;
          margin: 0 10px;
        }
      }
    }
  }

  .employers {
    margin-top: 20px;
    padding: 30px 1.5rem;
    background-color: $main-yellow;
    & h6 {
      font-size: 16px;
      font-family: $main-font;
    }

    &__text--1 {
      font-size: 24px;
      font-family: $main-font;
      margin-top: 15px;
    }
    &__text--2 {
      font-size: 16px;
      font-family: $secondary-font;
      margin-top: 15px;
    }

    & input {
      font-family: $secondary-font;
      border: 2px solid black;
      padding: 15px 40px;
      margin-top: 15px;
      display: block;
      margin: 15px auto 0 auto;
    }

    & button {
      @include mobile-button();
      margin-top: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    & div {
      margin-top: 20px;
      text-align: center;
      & h6 {
        font-size: 16px;
        margin-top: 15px;
        font-family: $main-font;
      }
      & p {
        font-size: 16px;
        font-family: $secondary-font;
        margin-top: 15px;
      }
    }
  }

  .footer {
    color: white;
    padding: 30px 1.5rem;
    background-color: $main-blue;
    & button {
      display: block;
      @include mobile-button();
      color: $main-blue;
      background-color: white;
      border: 3px solid black;
      margin-top: 15px;
    }

    & h6 {
      font-family: $secondary-font;
      font-size: 15px;
    }

    &__pages {
      margin-top: 30px;
      & p {
        font-family: $secondary-font;
        font-size: 16px;
        margin: 20px 0;
      }

      &__title {
        font-family: $main-font !important;
        font-size: 17px;
        font-weight: 200;
      }
    }

    &__social {
      & i {
        font-size: 25px;
        color: $main-yellow;
        margin: 0 10px;
      }

      & p {
        margin-top: 20px;
        cursor: pointer;
      }

      &__info {
        display: none;
      }
    }

    &__info {
      margin-top: 20px;
    }
  }
}

// Big Screens
@media (min-width: $breakpoint-tablet) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem;
    font-family: $main-font;
    margin-top: -15px;

    & img {
      width: 120px;
      height: 120px;
    }

    &__hamburger {
      display: none;
    }

    a {
      text-decoration: none;
      color: black;
    }

    &__items {
      display: flex;
      align-items: center;
    }

    &__item {
      margin: 0 26px;
      font-size: 1.1rem;
    }

    &__login {
      padding: 9px 20px;
      color: white;
      background-color: $main-blue;
      font-family: $main-font;
    }
  }

  .intro {
    padding: 30px 7rem;
    display: flex;
    justify-content: space-between;

    &__text {
      //   margin-left: 50px;
      margin-top: 30px;

      &--main {
        font-size: 45px;
        font-family: $main-font;
        font-weight: 900;
      }
      &--secondary {
        margin-top: 80px;
        font-size: $secondary-font-size;
        font-family: $secondary-font;
      }

      &__button {
        margin-top: 60px;
        @include button();
      }
      flex: 1;
    }

    &__img {
      flex: 1;
    }

    &__img img {
      // margin-left: 100px;
      width: 450px;
      height: 450px;
      float: right;
    }
  }

  .grad {
    padding: 30px 1.5rem;
    text-align: center;

    &__text {
      font-size: $main-font-size;
      font-family: $main-font;
      font-size: 34px;
    }
    &__text--sec {
      margin-top: 20px;
      font-size: $secondary-font-size;
      font-family: $secondary-font;
    }
    &__numbers {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      &--content {
        font-family: $main-font;
        font-size: $main-font-size;
        color: $main-blue;
        font-weight: 900;
      }

      & div {
        margin-top: 30px;
        margin-right: 20px;
        margin-left: 20px;

        span {
          margin-top: 10px;
          font-size: 50px;
        }
      }
    }
  }

  .brands {
    padding: 30px 7rem;

    & div {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      grid-template-rows: 2;

      & img {
        width: 120px;
        height: 40px;
        margin: 20px 0;
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        &:hover {
          filter: none;
        }
      }
    }
  }
  .online-courses {
    margin-top: 20px;
    padding: 30px 7rem;

    &__container {
      display: flex;
    }

    &--first {
      flex: 1;
      & h3 {
        font-family: $main-font;
        color: $main-yellow;
        font-size: 20px;
      }

      &__tech {
        text-align: start;
        font-family: $main-font;
        font-size: $main-font-size;
        margin-top: 34px;
      }

      &__text {
        font-family: $secondary-font;
        margin-top: 15px;
        line-height: 2.4ch;
      }

      &__quo {
        color: $main-blue;
        font-style: italic;
        font-size: 18px;
        font-family: $main-font;
        margin-top: 30px;
      }
      &__quop {
        font-family: $secondary-font;
        margin-top: 10px;
      }
    }

    &--second {
      flex: 1;
      margin-top: 20px;
      text-align: center;

      & button {
        @include button();
        margin-top: 10px;
      }

      &__free {
        color: $main-yellow;
        font-family: $main-font;
      }

      &__info {
        font-family: $secondary-font;
        margin-top: 10px;
        font-size: 12px;
        line-height: 2.4ch;
      }
    }

    &--third {
      margin-top: 30px;
      & h5 {
        text-align: center;
        font-family: $main-font;
        font-size: 22px;
      }

      & div {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        & p {
          border: 2px solid $main-yellow;
          margin: 15px 10px;
          font-size: 16px;
          font-family: $main-font;
          padding: 10px 20px;

          &:hover {
            color: black;
            background-color: $main-yellow;
            cursor: pointer;
          }
        }
      }
    }

    &--fourth {
      display: flex;
      width: 50vw;
      margin: 0 auto;
      margin-top: 40px;
      font-family: $main-font;
      border: 3px solid black;
      padding: 20px 10px;
      text-align: center;

      &__container--first {
        flex: 1;
      }
      &__container--second {
        flex: 1;
      }

      &__lesson {
        text-align: start;
        padding: 2px 30px;
        font-size: 16px;
        margin: 15px 0;
      }

      & button {
        margin: 10px 0;
        @include mobile-button();
      }

      & h5 {
        font-size: 24px;
      }

      &__info {
        margin-top: 20px;
        border: 1px solid $main-yellow;
        padding: 20px 10px;
        & p {
          text-align: start;
          font-size: 15px;
          margin: 10px 0 0 10px;
        }
      }
    }
  }

  .bootcamp {
    margin-top: 20px;
    padding: 30px 7rem;

    &__container {
      display: flex;
    }

    &--first {
      flex: 1;
      & h3 {
        font-family: $main-font;
        color: $main-yellow;
        font-size: 20px;
      }

      &__tech {
        text-align: start;
        font-family: $main-font;
        font-size: $main-font-size;
        margin-top: 34px;
      }

      &__text {
        font-family: $secondary-font;
        margin-top: 15px;
        line-height: 2.4ch;
      }

      &__quo {
        color: $main-blue;
        font-style: italic;
        font-size: 18px;
        font-family: $main-font;
        margin-top: 30px;
      }
      &__quop {
        font-family: $secondary-font;
        margin-top: 10px;
      }
    }

    &--second {
      flex: 1;
      margin-top: 20px;
      text-align: center;

      & button {
        @include button();
        margin-top: 10px;
      }

      &__free {
        color: $main-yellow;
        font-family: $main-font;
      }

      &__info {
        font-family: $secondary-font;
        margin-top: 10px;
        font-size: 12px;
        line-height: 2.4ch;
      }
    }

    &__bootcamps {
      font-family: $secondary-font;
      margin-top: 20px;
      display: grid;
      grid-template-columns: auto auto auto;

      & div {
        border: 2px solid black;
        margin: 20px 10px;
        padding: 10px 0;

        & img {
          width: 80%;
          height: 195px;
          display: block;
          margin: auto;
        }

        & h6 {
          margin-top: 10px;
          font-size: 15px;
          margin-left: 20px;
        }

        & p {
          margin-top: 10px;
          font-size: 14px;
          margin-left: 20px;
        }

        & button {
          margin: 10px 0;
          float: right;
          margin-right: 20px;
          @include mobile-button();
        }
      }
    }
  }

  .news {
    position: relative;
    margin-top: 20px;
    padding: 30px 7rem;
    font-size: 34px;
    font-family: $main-font;

    &__slider {
      margin-top: 80px;
      &__buttons {
        display: flex;
        position: absolute;
        right: 8%;
        top: 10%;
        font-size: 50px;
        & div {
          margin: 0 20px;
          cursor: pointer;
        }
      }
      &__slide {
        display: flex;
        overflow: hidden;
        & img {
          width: 534px;
          height: 267px;
          margin: 0 15px;
        }
      }
    }
  }

  .employers {
    text-align: center;
    margin-top: 20px;
    padding: 30px 1.5rem;
    background-color: $main-yellow;
    & h6 {
      font-size: 28px;
      font-family: $main-font;
    }

    &__text--1 {
      font-size: 32px;
      font-family: $main-font;
      margin-top: 15px;
    }
    &__text--2 {
      font-size: 16px;
      font-family: $secondary-font;
      margin-top: 15px;
    }

    &__container {
      position: relative;
      &__button {
        position: absolute;
        right: 25%;
        top: 0;
      }
    }

    & input {
      font-family: $secondary-font;
      border: 3px solid black;
      padding: 15px 40px;
      margin-top: 15px;
      display: block;
      margin: 15px auto 0 auto;
      width: 50%;
      height: 40px;
      font-size: 17px;
    }

    & button {
      @include mobile-button();
      margin-top: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &__bootcamp {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & div {
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      & h6 {
        font-size: 16px;
        margin-top: 15px;
        font-family: $main-font;
      }
      & p {
        font-size: 16px;
        font-family: $secondary-font;
        margin-top: 15px;
      }
    }
  }

  .footer {
    color: white;
    padding: 30px 7rem;
    background-color: $main-blue;
    & button {
      display: block;
      @include mobile-button();
      color: $main-blue;
      background-color: white;
      border: 3px solid black;
      margin-top: 15px;
    }

    &__container {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &__buttons {
      display: flex;
      & button {
        margin: 0 10px;
      }
    }

    & h6 {
      font-family: $secondary-font;
      font-size: 15px;
    }

    &__pages {
      margin-top: 30px;
      & p {
        font-family: $secondary-font;
        // font-size: 16px;
        margin: 10px 0;
      }

      &__info {
        margin-bottom: 10px;
        display: none;
        cursor: pointer;
      }

      &__items {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        font-size: 15px !important;
        cursor: pointer;
      }

      &__title {
        font-family: $main-font !important;
        font-size: 17px;
        font-weight: 200;
      }
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__social {
      margin-right: 100px;
      & i {
        font-size: 25px;
        color: $main-yellow;
        margin: 0 10px;
        cursor: pointer;
      }

      & p {
        margin-top: 20px;
      }
      &__info {
        font-family: $secondary-font;
        margin-bottom: 20px;
        margin-left: 15px;
      }
    }

    &__info {
      text-align: center;
    }
  }
}

hr {
  margin-top: 30px;
  color: $main-yellow;
}
